@import '../../assets/style/mixin.less';


.home-page-container {
  flex: 1;

  p,
  a,
  span,
  label,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: 0;
  }

  .home-page-container-l {
    width: 240px;
    flex-basis: 240px;
    border-right: 1px solid @borderColor;
  }

  .home-page-container-r {
    flex: 1;
    flex-direction: column;

    .fix-top {
      height: 30px;
      flex-basis: 30px;
      border-bottom: 1px solid @borderColor;
    }

    .flex-bottom {
      flex: 1;

      .bottom-l {
        flex: 1;
      }

      .bottom-r {
        border-left: 1px solid @borderColor;
        width: 240px;
        flex-basis: 240px;
      }
    }

  }

  .port-bash-cotainer {
    padding: 5px;
  }

  .tool-tips-cotainer {
    line-height: 30px;

    .ant-btn {
      margin: 0 8px;
    }
  }

  .controll-panel-cotainer {
    padding: 10px;
    text-align: center;

    .controll-line {
      margin-top: 5px;
    }
  }
}
